
## Docker images

The docker images for the binaries of this release can be found on Docker Hub (available a few minutes after the release has been published), all tagged with `{{ env.VERSION }}`:
- [polkadot](https://hub.docker.com/r/parity/polkadot/tags?page=1&ordering=last_updated)
- [polkadot-parachain](https://hub.docker.com/r/parity/polkadot-parachain/tags?page=1&ordering=last_updated)
- [polkadot-omni-node](https://hub.docker.com/r/parity/polkadot-omni-node/tags?page=1&ordering=last_updated)
- [chain-spec-builder](https://hub.docker.com/r/parity/chain-spec-builder/tags?page=1&ordering=last_updated)

You may also pull them with:

```
docker pull parity/polkadot:{{ env.VERSION }}
docker pull parity/polkadot-parachain:{{ env.VERSION }}
docker pull parity/polkadot-omni-node:{{ env.VERSION }}
docker pull parity/chain-spec-builder:{{ env.VERSION }}
```
