{# This is the entry point of the template -#}

This release contains the changes from `{{ env.REF1 | replace(from="refs/tags/", to="") }}` to `{{ env.REF2 | replace(from="refs/tags/", to="") }}`.

{% include "changes.md.tera" -%}

{% include "compiler.md.tera" -%}

{% include "runtimes.md.tera" -%}
