# Local Netlify folder
.netlify

# VSCode Workspace
workspace.code-workspace

# Node modules
node_modules/

#Intellij project file
.idea

# asdf plugin versions
.tool-versions

/relaychain/
.vscode

/.rustup/
.cargo/
!.cargo/config.toml

.DS_Store

.direnv
.envrc
parachain/build_rs_cov.profraw
compiler_config.json
contracts/beefy-state.json

go/
gocache/
