:root {
	--polkadot-pink: #E6007A;
	--polkadot-green: #56F39A;
	--polkadot-lime: #D3FF33;
	--polkadot-cyan: #00B2FF;
	--polkadot-purple: #552BBF;
}

body.sdk-docs {
	nav.sidebar>div.sidebar-crate>a>img {
		width: 190px;
		height: 52px;
	}

	nav.sidebar {
		flex: 0 0 250px;
	}
}

html[data-theme="light"] .sidebar-crate > .logo-container > img {
  content: url("https://raw.githubusercontent.com/paritytech/polkadot-sdk/master/docs/images/Polkadot_Logo_Horizontal_Pink_Black.png");
}
